* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 7;
}

nav {
    background-color: #000;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

nav li {
    display: inline-block;
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    background-color: #000;
    border: 0px solid #000;
    text-align: center;
    color: #fff;
    position: relative;
}

nav li:hover {
    background-color: rgb(114, 113, 113);
    color: #000;
}

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
}

h1 {
    padding: 20px 0px 0px 300px;
    margin: 20px 15px 0px 0px;
    color: brown;
    font-size: 70px;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

div {}